svg {
    border: solid 1px #ddd;
}

.axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 13px;
    fill: #6b6b6b;
}

.axis-title {
    font-size: 16px;
    fill: #222;
    font-weight: bold;
}

.y-axis .tick:first-child line {
    stroke: #b1b1b1;
}

.y-axis .tick:first-child text {
    display: none;
}

.x-axis .tick:first-child line {
    display: none;
}

.axis path {
    display: none;
}

.chart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.row {
    gap: 12px;
    display: flex;
}

.chart-line {
    stroke-width: 1;
}

.line-label {
    stroke: #999;
}

.chart-line:hover {
    stroke-width: 3;
    opacity: 1;
    cursor: pointer;

}

.highlight {
    stroke-width: 5 !important;
}

.line-label {
    z-index: 100;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}

.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

#tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}

.selected {
    fill: orange;
    stroke: orange;
}

.point {
    fill-opacity: 0.2;
}


.clickable {
    cursor: pointer;
    fill-opacity: 0.7;
}

.clickable:hover {
    fill-opacity: 1;
}

.click-listening-area {
    z-index: -1;
    fill: transparent;
}

.bar {
    cursor: pointer;
    fill: #ddd;
}

.bar:hover {
    fill: #aaa
}

.bar-selected {
    fill: #999
}

